*.o
*.a
*.so
*.d
*.log
*.tmp

spacetest3576

hardware/*/*_test
hardware/bluetooth/bluetooth_test
hardware/camera/camera_test
hardware/fast_charge/fast_charge_test
hardware/fingerprint/fingerprint_test
hardware/indicator_led/indicator_led_test
hardware/tf_card/tf_card_test
hardware/usb3.0/usb3_test
hardware/wifi/wifi_test

.cache/
build/
out/
